@import "tailwindcss";

@theme {
  --color-primary: #d01616;
  --color-thunder50: #fff1f1;
  --color-thunderbird-100: #ffe1e1;
  --color-thunderbird-200: #ffc7c7;
  --color-thunderbird-300: #ffa1a1;
  --color-thunderbird-400: #ff6a6a;
  --color-thunderbird-500: #f73c3c;
  --color-thunderbird-600: #e51d1d;
  --color-thunderbird-700: #d01616;
  --color-quaternary: #9f1515;
  --color-terciary: #841818;
  --color-secondary: #480707;

  --animate-progreso: 1s
}
@keyframes barraScroll {
  0% { width: 0% }
  100% { width: 100% }
}

#miElemento {
  animation-name: barraScroll;
  animation-timeline: scroll();
}
